
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

html, body {
	font-family: Tahoma;
	font-family: 'Roboto Slab', serif;
	font-size: 11pt;
	color: #404040;
	padding: 0px;
	margin: 0px;
	background-color: #dedede;
	height: 100%;
}

#body {
	position: relative;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;	
}


ul.plateau {
	list-style: none;
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 1200px;
	height: 800px;
	left: 50%;
	margin: 30px;
	margin-left: -630px;
}

ul.plateau > li.player {
	
}

ul.plateau > li.player0 {
	position: absolute;
	bottom: 0px;
	left: 200px;
	right: 200px;
	height: 200px;
}

ul.plateau > li.player1 {
	position: absolute;
	left: 0px;
	width: 200px;
	top: 0px;
	bottom: 0px;
}

ul.plateau > li.player0 > div {
	height: 200px;
	position: absolute;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	top: 50%;
	margin-top: -100px;
	-webkit-transform:rotate(0deg);
	-webkit-transform-origin: center;
}

ul.plateau > li.player1 > div {
	height: 200px;
	position: absolute;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	top: 50%;
	margin-top: -100px;
	-webkit-transform:rotate(90deg);
	-webkit-transform-origin: center;
}

ul.plateau > li.player2 > div {
	height: 200px;
	position: absolute;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	top: 50%;
	margin-top: -100px;
	-webkit-transform:rotate(-180deg);
	-webkit-transform-origin: center;
}

ul.plateau > li.player3 > div {
	height: 200px;
	position: absolute;
	right: 50%;
	margin-right: -300px;
	width: 600px;
	top: 50%;
	margin-top: -100px;
	-webkit-transform:rotate(-90deg);
-webkit-transform-origin: center;
}

ul.plateau > li.player3 {
	position: absolute;
	right: 0px;
	width: 200px;
	top: 0px;
	bottom: 0px;
}

ul.plateau > li.player2 {
	position: absolute;
	top: 0px;
	left: 200px;
	right: 200px;
	height: 200px;
}

.carte {
	display: inline-block;
	position: absolute;
}

.carte.choosed {
	top: -20px;
}

a {
	color: rgb(42, 87, 202);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr {
	border: 1px solid rgb(255, 255, 255);
	border-bottom: 1px solid whitesmoke;
}

.player h1 {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	color: #fefefe;
	z-index: 1;
	font-size: 1.1em;
	padding: 8px;
	text-align: center;
	margin: 0px;
}

.player h1::after {
	display: block;
	content: '';
	position: absolute;
	z-index: -1;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #000;
	opacity: 0.5;
}
